RESEND_API_KEY=
RESEND_FROM_EMAIL=Raj Mali Website <noreply@rajmali.com>
CONTACT_TO_EMAIL=hello@rajmali.com

SUPABASE_URL=https://fykzwsfdiivdvrzthypy.supabase.co
SUPABASE_SERVICE_ROLE_KEY=

VITE_SUPABASE_URL=https://fykzwsfdiivdvrzthypy.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=
